extends layout

block content
  h1 Welcome to your account!
  p.lead Currently you can use JSON-web tokens (JWT) to authorize search inside your data
  hr
  .row
    .col-sm-12
      h2 What is my secret to use with JWTs?
      p Right now, we only support using your username/password as your secret for authenticating searching. Other keys will be available soon!

    .col-sm-12
      h2 Code Samples
      p Python
      pre
        code
          | import requests
          | dictToSend = {'user': {'username': 'yourusernamehere', 'password': 'yourpasswordhere'}, 'payload': {'key': 'value'}}
          | res = requests.post('http://localhost:4000/tests/endpoint', json=dictToSend)
          | print 'response from server:',res.text
          | dictFromServer = res.json()